<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaya.unlockcounter"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:backupAgent=".mBackupAgent"
        android:restoreAnyVersion="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vaya.unlockcounter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
                  android:parentActivityName="MainActivity"/>
        <service android:name=".LockerService"/>
        <receiver android:name=".BroadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIZ3nJzxWJfLPj6zF6cf-bGyLZ0u5RPlxew_hCkA" />
    </application>

</manifest>